# Created by .ignore support plugin (hsz.mobi)
/.gitignore
.idea/dataSources/6dcd6050-2eb5-4781-acc6-15922d6a9d6d/_src_/
.idea/dataSources/6dcd6050-2eb5-4781-acc6-15922d6a9d6d/_staging_/
.idea/dataSources/d4690784-de3f-4660-8676-23d5202eb6f8/_src_/
.idea/dataSources/d4690784-de3f-4660-8676-23d5202eb6f8/_staging_/
.idea/inspectionProfiles/
.idea/kotlinc.xml
.svn/pristine/14/14c8072b6e0663d45f5c66503b9e1a731c6f9d58.svn-base
.svn/tmp/
commons-upload/src/main/webapp/apk/
commons-upload/src/main/webapp/img/
commons-upload/src/main/webapp/resources/
commons-upload/src/test/
commons-upload/target/generated-sources/
data-source/src/main/java/com/spring/zyy/util/
data-source/src/main/webapp/WEB-INF/lib/
data-source/src/test/
"doc/00_\351\241\271\347\233\256\344\272\213\345\212\241/"
"doc/01_\351\234\200\346\261\202\347\256\241\347\220\206/"
"doc/03_\346\265\213\350\257\225\347\256\241\347\220\206/"
"doc/05_\344\272\247\345\223\201\350\265\204\346\226\231/"
"doc/07-\351\241\271\347\233\256\347\256\241\347\220\206/"
qs-agent/src/main/webapp/config/
qs-agent/src/test/
qs-app/src/main/resources/db/
qs-app/src/main/webapp/config/
qs-app/src/main/webapp/img/
qs-app/src/test/
qs-app/target/app/WEB-INF/classes/com/qs/webside/sys/controller/
qs-app/target/app/WEB-INF/view/test/
qs-app/target/generated-sources/
qs-business/src/main/java/com/qs/webside/agent/
qs-business/src/main/java/com/qs/webside/game/
qs-business/src/main/java/com/qs/webside/member/
qs-business/src/main/webapp/config/
qs-business/src/test/
qs-business/target/business/WEB-INF/classes/com/qs/webside/business/controller/AgentWeekInfoStaController.class
qs-business/target/business/WEB-INF/classes/com/qs/webside/business/controller/UserGoldOriginController.class
qs-business/target/business/WEB-INF/classes/com/qs/webside/util/BusinessDateUtil.class
qs-business/target/business/WEB-INF/view/cfg/
qs-business/target/business/WEB-INF/view/loginfo/
qs-business/target/business/WEB-INF/view/logininfo/
qs-business/target/business/WEB-INF/view/resource/
qs-business/target/business/WEB-INF/view/role/
qs-business/target/business/WEB-INF/view/user/
qs-business/target/business/WEB-INF/view/web/business/agent_weekStaInfo_list.jsp
qs-business/target/business/WEB-INF/view/web/user/member_userGoldOrigin_list.jsp
qs-business/target/business/resources/js/customer/cfg/
qs-business/target/business/resources/js/customer/loginfo/
qs-business/target/business/resources/js/customer/logininfo/
qs-business/target/business/resources/js/customer/resource/
qs-business/target/business/resources/js/customer/role/
qs-business/target/business/resources/js/customer/user/
qs-business/target/business/resources/js/customer/web/agent_weekStaInfo_list.js
qs-business/target/business/resources/js/customer/web/member_userGoldOrigin_list.js
qs-business/target/classes/com/qs/webside/business/controller/AgentWeekInfoStaController.class
qs-business/target/classes/com/qs/webside/business/controller/UserGoldOriginController.class
qs-business/target/classes/com/qs/webside/util/BusinessDateUtil.class
qs-business/target/generated-sources/
qs-common/src/test/
qs-common/target/classes/com/qs/common/constant/Constants$Agent.class
qs-common/target/generated-sources/
qs-mapper/src/test/
qs-mapper/target/classes/com/qs/log/agent/
qs-mapper/target/classes/com/qs/log/game/mapper
/TaxesDirectlyWeekMapper.class
qs-mapper/target/classes/com/qs/webside/member/mapper/MemberPayMentMapper.class
qs-mapper/target/classes/mybatis/mapper/log/agent/
qs-mapper/target/classes/mybatis/mapper/log/game/TaxesDirectlyWeekMapper.xml
qs-mapper/target/classes/mybatis/mapper/webside/member/MemberPayMentMapper.xml
qs-mapper/target/generated-sources/
qs-model/src/test/
qs-model/target/classes/com/qs/log/agent/
qs-model/target/classes/com/qs/log/game/model/TaxesDirectlyWeek.class
qs-model/target/classes/com/qs/webside/member/model/MemberPayMent.class
qs-model/target/generated-sources/
qs-service/src/test/
qs-service/target/classes/com/qs/log/game/service/ITaxesDirectlyWeekService.class
qs-service/target/classes/com/qs/log/game/service/impl/TaxesDirectlyWeekServiceImpl.class
qs-service/target/classes/com/qs/pub/game/service/IDictService.class
qs-service/target/classes/com/qs/pub/game/service/impl/DictServiceImpl.class
qs-service/target/classes/com/qs/webside/sys/service/agent/service/IAgentMidsServcie.class
qs-service/target/classes/com/qs/webside/sys/service/agent/service/IAgentUpdateLogService.class
qs-service/target/classes/com/qs/webside/sys/service/agent/service/ICommonAgentsInfoService.class
qs-service/target/classes/com/qs/webside/sys/service/agent/service/IMemberInviteService.class
qs-service/target/classes/com/qs/webside/sys/service/agent/service/IMemberPayMentService.class
qs-service/target/classes/com/qs/webside/sys/service/agent/service/impl/AgentMidsServiceImpl.class
qs-service/target/classes/com/qs/webside/sys/service/agent/service/impl/AgentUpdateLogServiceImpl.class
qs-service/target/classes/com/qs/webside/sys/service/agent/service/impl/CommonAgentsInfoServiceImpl.class
qs-service/target/classes/com/qs/webside/sys/service/agent/service/impl/MemberInviteServiceImpl.class
qs-service/target/classes/com/qs/webside/sys/service/agent/service/impl/MemberPayMentServiceImpl.class
qs-service/target/classes/com/qs/webside/sys/service/member/service/IMembersServcie.class
qs-service/target/classes/com/qs/webside/sys/service/member/service/impl/MembersServcieImpl.class
qs-service/target/generated-sources/
qs-side/src/test/
qs-side/target/generated-sources/
qs-web/src/main/webapp/config/
qs-web/src/test/
qs-web/target/classes/com/qs/pub/game/controller/DictController.class
qs-web/target/generated-sources/
qs-web/target/psyllidae/WEB-INF/classes/com/qs/pub/game/controller/DictController.class
/qs-service/qs-service.iml
