<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qs.webside.activity.mapper.ActiCenterMapper" >
  <resultMap id="BaseResultMap" type="com.qs.webside.activity.model.ActiCenter" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="descr" property="descr" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="btn_url" property="btnUrl" jdbcType="VARCHAR" />
    <result column="jump_url" property="jumpUrl" jdbcType="VARCHAR" />
    <result column="act_img_url" property="actImgUrl" jdbcType="VARCHAR" />
    <result column="close_time" property="closeTime" jdbcType="TIMESTAMP" />

    <result column="period_start_time" property="periodStartTime"/>
    <result column="period_end_time" property="periodEndTime"/>

    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="card_record" property="cardRecord" jdbcType="INTEGER" />
    <result column="reward" property="reward" jdbcType="INTEGER" />
    <result column="ext1" property="ext1" jdbcType="VARCHAR" />
    <result column="ext2" property="ext2" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="creater_id" property="createrId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="modifier_id" property="modifierId" jdbcType="INTEGER" />
    <result column="acti_status" property="actiStatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, descr, type, sort, btn_url, jump_url, act_img_url, close_time, period_start_time, 
    period_end_time, start_time, end_time, status, card_record, reward, ext1, ext2, create_time, 
    creater_id, update_time, modifier_id,acti_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from acti_center
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from acti_center
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qs.webside.activity.model.ActiCenter" >
    insert into acti_center (id, title, descr, 
      type, sort, btn_url, 
      jump_url, act_img_url, close_time, 
      period_start_time, period_end_time, start_time, 
      end_time, status, card_record, 
      reward, ext1, ext2, 
      create_time, creater_id, update_time, 
      modifier_id,acti_status)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{descr,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, #{btnUrl,jdbcType=VARCHAR}, 
      #{jumpUrl,jdbcType=VARCHAR}, #{actImgUrl,jdbcType=VARCHAR}, #{closeTime},
      #{periodStartTime}, #{periodEndTime}, #{startTime},
      #{endTime}, #{status,jdbcType=INTEGER}, #{cardRecord,jdbcType=INTEGER},
      #{reward,jdbcType=INTEGER}, #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createrId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{modifierId,jdbcType=INTEGER},#{actiStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qs.webside.activity.model.ActiCenter" >
    insert into acti_center
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="descr != null" >
        descr,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="btnUrl != null" >
        btn_url,
      </if>
      <if test="jumpUrl != null" >
        jump_url,
      </if>
      <if test="actImgUrl != null" >
        act_img_url,
      </if>
      <if test="closeTime != null" >
        close_time,
      </if>
      <if test="periodStartTime != null" >
        period_start_time,
      </if>
      <if test="periodEndTime != null" >
        period_end_time,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="cardRecord != null" >
        card_record,
      </if>
      <if test="reward != null" >
        reward,
      </if>
      <if test="ext1 != null" >
        ext1,
      </if>
      <if test="ext2 != null" >
        ext2,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createrId != null" >
        creater_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="modifierId != null" >
        modifier_id,
      </if>
      <if test="actiStatus != null" >
        acti_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="descr != null" >
        #{descr,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="btnUrl != null" >
        #{btnUrl,jdbcType=VARCHAR},
      </if>
      <if test="jumpUrl != null" >
        #{jumpUrl,jdbcType=VARCHAR},
      </if>
      <if test="actImgUrl != null" >
        #{actImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="closeTime != null" >
        #{closeTime},
      </if>
      <if test="periodStartTime != null" >
        #{periodStartTime},
      </if>
      <if test="periodEndTime != null" >
        #{periodEndTime},
      </if>
      <if test="startTime != null" >
        #{startTime},
      </if>
      <if test="endTime != null" >
        #{endTime},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="cardRecord != null" >
        #{cardRecord,jdbcType=INTEGER},
      </if>
      <if test="reward != null" >
        #{reward,jdbcType=INTEGER},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createrId != null" >
        #{createrId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null" >
        #{modifierId,jdbcType=INTEGER},
      </if>
      <if test="actiStatus != null" >
        #{actiStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qs.webside.activity.model.ActiCenter" >
    update acti_center
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="descr != null" >
        descr = #{descr,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="btnUrl != null" >
        btn_url = #{btnUrl,jdbcType=VARCHAR},
      </if>
      <if test="jumpUrl != null" >
        jump_url = #{jumpUrl,jdbcType=VARCHAR},
      </if>
      <if test="actImgUrl != null" >
        act_img_url = #{actImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="closeTime != null" >
        close_time = #{closeTime},
      </if>
      <if test="periodStartTime != null" >
        period_start_time = #{periodStartTime},
      </if>
      <if test="periodEndTime != null" >
        period_end_time = #{periodEndTime},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="cardRecord != null" >
        card_record = #{cardRecord,jdbcType=INTEGER},
      </if>
      <if test="reward != null" >
        reward = #{reward,jdbcType=INTEGER},
      </if>
      <if test="ext1 != null" >
        ext1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        ext2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createrId != null" >
        creater_id = #{createrId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null" >
        modifier_id = #{modifierId,jdbcType=INTEGER},
      </if>
      <if test="actiStatus != null" >
        acti_status = #{actiStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qs.webside.activity.model.ActiCenter" >
    update acti_center
    set title = #{title,jdbcType=VARCHAR},
      descr = #{descr,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      btn_url = #{btnUrl,jdbcType=VARCHAR},
      jump_url = #{jumpUrl,jdbcType=VARCHAR},
      act_img_url = #{actImgUrl,jdbcType=VARCHAR},
      close_time = #{closeTime},
      period_start_time = #{periodStartTime},
      period_end_time = #{periodEndTime},
      start_time = #{startTime},
      end_time = #{endTime},
      status = #{status,jdbcType=INTEGER},
      card_record = #{cardRecord,jdbcType=INTEGER},
      reward = #{reward,jdbcType=INTEGER},
      ext1 = #{ext1,jdbcType=VARCHAR},
      ext2 = #{ext2,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creater_id = #{createrId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      modifier_id = #{modifierId,jdbcType=INTEGER},
      acti_status = #{actiStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryListByPage" parameterType="map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from acti_center
    order by id
  </select>

  <select id="queryListActivityByStatus" resultType="map">
    SELECT
      title, descr, type, sort, btn_url, jump_url, act_img_url,
      status, card_record, reward,period_start_time,period_end_time,acti_status,
      unix_timestamp(close_time) AS close_time,
      unix_timestamp(start_time) AS  start_time,
      unix_timestamp(end_time) AS  end_time
    from acti_center WHERE status = 0
    order by id
  </select>

</mapper>