<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qs.webside.robot.mapper.RobotRoomCfgDfMapper">
  <resultMap id="BaseResultMap" type="com.qs.webside.robot.model.RobotRoomCfgDf">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="room_type" jdbcType="INTEGER" property="roomType" />
    <result column="room_name" jdbcType="VARCHAR" property="roomName" />
    <result column="data" jdbcType="VARCHAR" property="data" />
    <result column="wanfa" jdbcType="VARCHAR" property="wanfa" />
    <result column="ownuser" jdbcType="VARCHAR" property="ownuser" />
    <result column="game_type" jdbcType="INTEGER" property="gameType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="ext1" jdbcType="VARCHAR" property="ext1" />
    <result column="ext2" jdbcType="VARCHAR" property="ext2" />
    <result column="ext3" jdbcType="VARCHAR" property="ext3" />
  </resultMap>
  <sql id="Base_Column_List">
    id, room_type, room_name, data, wanfa, ownuser, game_type, remark, ext1, ext2, ext3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from robot_room_cfg_df
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from robot_room_cfg_df
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qs.webside.robot.model.RobotRoomCfgDf">
    insert into robot_room_cfg_df (id, room_type, room_name, 
      data, wanfa, ownuser, 
      game_type, remark, ext1, 
      ext2, ext3)
    values (#{id,jdbcType=INTEGER}, #{roomType,jdbcType=INTEGER}, #{roomName,jdbcType=VARCHAR}, 
      #{data,jdbcType=VARCHAR}, #{wanfa,jdbcType=VARCHAR}, #{ownuser,jdbcType=VARCHAR}, 
      #{gameType,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{ext1,jdbcType=VARCHAR}, 
      #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qs.webside.robot.model.RobotRoomCfgDf">
    insert into robot_room_cfg_df
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roomType != null">
        room_type,
      </if>
      <if test="roomName != null">
        room_name,
      </if>
      <if test="data != null">
        data,
      </if>
      <if test="wanfa != null">
        wanfa,
      </if>
      <if test="ownuser != null">
        ownuser,
      </if>
      <if test="gameType != null">
        game_type,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="ext1 != null">
        ext1,
      </if>
      <if test="ext2 != null">
        ext2,
      </if>
      <if test="ext3 != null">
        ext3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roomType != null">
        #{roomType,jdbcType=INTEGER},
      </if>
      <if test="roomName != null">
        #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="data != null">
        #{data,jdbcType=VARCHAR},
      </if>
      <if test="wanfa != null">
        #{wanfa,jdbcType=VARCHAR},
      </if>
      <if test="ownuser != null">
        #{ownuser,jdbcType=VARCHAR},
      </if>
      <if test="gameType != null">
        #{gameType,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null">
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null">
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null">
        #{ext3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qs.webside.robot.model.RobotRoomCfgDf">
    update robot_room_cfg_df
    <set>
      <if test="roomType != null">
        room_type = #{roomType,jdbcType=INTEGER},
      </if>
      <if test="roomName != null">
        room_name = #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="data != null">
        data = #{data,jdbcType=VARCHAR},
      </if>
      <if test="wanfa != null">
        wanfa = #{wanfa,jdbcType=VARCHAR},
      </if>
      <if test="ownuser != null">
        ownuser = #{ownuser,jdbcType=VARCHAR},
      </if>
      <if test="gameType != null">
        game_type = #{gameType,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null">
        ext1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null">
        ext2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null">
        ext3 = #{ext3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qs.webside.robot.model.RobotRoomCfgDf">
    update robot_room_cfg_df
    set room_type = #{roomType,jdbcType=INTEGER},
      room_name = #{roomName,jdbcType=VARCHAR},
      data = #{data,jdbcType=VARCHAR},
      wanfa = #{wanfa,jdbcType=VARCHAR},
      ownuser = #{ownuser,jdbcType=VARCHAR},
      game_type = #{gameType,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      ext1 = #{ext1,jdbcType=VARCHAR},
      ext2 = #{ext2,jdbcType=VARCHAR},
      ext3 = #{ext3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

   <!-- 新增机器人开房配置，有数据就修改 -->
  <insert id="insertOrUpdate" parameterType="com.qs.webside.robot.model.RobotRoomCfgDf" >
     insert into robot_room_cfg_df
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roomType != null" >
        room_type,
      </if>
      <if test="roomName != null" >
        room_name,
      </if>
      <if test="data != null" >
        data,
      </if>
      <if test="wanfa != null" >
        wanfa,
      </if>
      <if test="ownuser != null" >
        ownuser,
      </if>
      <if test="gameType != null" >
        game_type,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="ext1 != null" >
        ext1,
      </if>
      <if test="ext2 != null" >
        ext2,
      </if>
      <if test="ext3 != null" >
        ext3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roomType != null" >
        #{roomType,jdbcType=INTEGER},
      </if>
      <if test="roomName != null" >
        #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="data != null" >
        #{data,jdbcType=VARCHAR},
      </if>
      <if test="wanfa != null" >
        #{wanfa,jdbcType=VARCHAR},
      </if>
      <if test="ownuser != null" >
        #{ownuser,jdbcType=VARCHAR},
      </if>
      <if test="gameType != null" >
        #{gameType,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null" >
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null" >
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null" >
        #{ext3,jdbcType=VARCHAR},
      </if>
    </trim>
    on duplicate key update wanfa=values(wanfa),data=values(data),ownuser=values(ownuser)
  </insert>
  
  
   <!-- 根据游戏标题拉取机器人默认创建房间配置 -->
  <select id="queryRobotConfigByType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from robot_room_cfg_df
    where room_type = #{roomType,jdbcType=INTEGER}
  </select>
  
  <!-- 查询所有机器人房间信息 -->
  <select id="findRobotRoomCigInfo" resultType="map">
  	select room_type as roomType,room_name as roomName
  	from robot_room_cfg_df
  </select>

  <!-- 根据游戏标题拉取机器人默认创建房间配置 -->
  <select id="queryRobotConfig" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from robot_room_cfg_df
  </select>

</mapper>