<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qs.pub.datacenter.mapper.PlayingMapper">
  <resultMap id="BaseResultMap" type="com.qs.pub.datacenter.model.Playing">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mid" jdbcType="INTEGER" property="mid" />
    <result column="app_id" jdbcType="INTEGER" property="appId" />
    <result column="play_name" jdbcType="VARCHAR" property="playName" />
    <result column="play_id" jdbcType="VARCHAR" property="playId" />
    <result column="game_start_time" jdbcType="TIMESTAMP" property="gameStartTime" />
    <result column="game_stop_time" jdbcType="TIMESTAMP" property="gameStopTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mid, app_id, game_start_time, game_stop_time, play_name,play_id,
  </sql>
  <select id="queryListByPage" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dc_playing
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <insert id="insert" parameterType="com.qs.pub.datacenter.model.Playing">
    insert into dc_playing (id, mid, app_id, play_way,
      game_start_time, game_stop_time)
    values (#{id,jdbcType=INTEGER}, #{mid,jdbcType=INTEGER}, #{appId,jdbcType=INTEGER}, #{playWay,jdbcType=VARCHAR}, 
      #{gameStartTime,jdbcType=TIMESTAMP}, #{gameStopTime,jdbcType=TIMESTAMP})
  </insert>
  
  
</mapper>