<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qs.pub.game.mapper.AppGameMapper" >
  <resultMap id="BaseResultMap" type="com.qs.pub.game.model.AppGame" >
    <id column="gid" property="gid" jdbcType="TINYINT" />
    <result column="gname" property="gname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    gid, gname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Byte" >
    select 
    <include refid="Base_Column_List" />
    from app_game
    where gid = #{gid,jdbcType=TINYINT}
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Byte" >
    delete from app_game
    where gid = #{gid,jdbcType=TINYINT}
  </delete>
  <insert id="insert" parameterType="com.qs.pub.game.model.AppGame" >
    insert into app_game (gid, gname)
    values (#{gid,jdbcType=TINYINT}, #{gname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qs.pub.game.model.AppGame" >
    insert into app_game
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gid != null" >
        gid,
      </if>
      <if test="gname != null" >
        gname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gid != null" >
        #{gid,jdbcType=TINYINT},
      </if>
      <if test="gname != null" >
        #{gname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qs.pub.game.model.AppGame" >
    update app_game
    <set >
      <if test="gname != null" >
        gname = #{gname,jdbcType=VARCHAR},
      </if>
    </set>
    where gid = #{gid,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qs.pub.game.model.AppGame" >
    update app_game
    set gname = #{gname,jdbcType=VARCHAR}
    where gid = #{gid,jdbcType=TINYINT}
  </update>

  <select id="queryListAll" resultType="com.qs.pub.game.model.AppGame">
    select
    <include refid="Base_Column_List" />
    from app_game
  </select>

</mapper>