<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qs.pub.game.mapper.AreaMapper" >
  <resultMap id="BaseResultMap" type="com.qs.pub.game.model.Area" >
    <id column="aid" property="aid" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="INTEGER" />
    <result column="aname" property="aname" jdbcType="VARCHAR" />
    <result column="parentid" property="parentid" jdbcType="INTEGER" />
    <result column="first_letter" property="firstLetter" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    aid, code, aname, parentid, first_letter, level, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from area
    where aid = #{aid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from area
    where aid = #{aid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qs.pub.game.model.Area" >
    insert into area (aid, code, aname, 
      parentid, first_letter, level, 
      status)
    values (#{aid,jdbcType=INTEGER}, #{code,jdbcType=INTEGER}, #{aname,jdbcType=VARCHAR}, 
      #{parentid,jdbcType=INTEGER}, #{firstLetter,jdbcType=VARCHAR}, #{level,jdbcType=TINYINT}, 
      #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.qs.pub.game.model.Area" >
    insert into area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        aid,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="aname != null" >
        aname,
      </if>
      <if test="parentid != null" >
        parentid,
      </if>
      <if test="firstLetter != null" >
        first_letter,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=INTEGER},
      </if>
      <if test="aname != null" >
        #{aname,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="firstLetter != null" >
        #{firstLetter,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qs.pub.game.model.Area" >
    update area
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=INTEGER},
      </if>
      <if test="aname != null" >
        aname = #{aname,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        parentid = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="firstLetter != null" >
        first_letter = #{firstLetter,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where aid = #{aid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qs.pub.game.model.Area" >
    update area
    set code = #{code,jdbcType=INTEGER},
      aname = #{aname,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=INTEGER},
      first_letter = #{firstLetter,jdbcType=VARCHAR},
      level = #{level,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT}
    where aid = #{aid,jdbcType=INTEGER}
  </update>
  
   <!--  查询地区省，市，县接口 -->
   <select id="selectByAreaPrimaryKey" resultMap="BaseResultMap" parameterType="com.qs.pub.game.model.Area"  >
    select 
    <include refid="Base_Column_List" />
    from area
    where level = #{level}  and code like CONCAT(#{code}, '%')  
  </select>
  
  <select id="selectAreaNameByArea" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from area
    where aname = #{aname,jdbcType=INTEGER}
  </select>
  
<!--  根据aid查具体详情地址   -->
  <select id="selectAreaInfo" resultType="map" parameterType="map">
   <if test="level ==0">
  	select aname from area where aid=#{aid}
   </if>
    <if test="level ==1">
	select aname,province from area b,(
	select aname province,parentid from area where aid=#{aid} ) a where
	a.parentid=b.aid
   </if>
    <if test="level ==2">
	select province,aname,city from area d,(
	SELECT a.aid,a.aname AS province,b.city ,a.parentid FROM area a,
	(SELECT aname AS city,parentid FROM area WHERE aid=#{aid}) b
	WHERE a.aid=b.parentid ) e where e.parentid=d.aid
   </if>
  </select>
	<!--   通过商务查询下面代理商的地势 -->
    <select id="selectBusGetAgentArea" resultMap="BaseResultMap" parameterType="java.lang.String" >
	SELECT b.aid,b.aname FROM memberagents a,(SELECT aid,aname FROM area) b
	WHERE a.belongid=#{id} and a.areaid=b.aid GROUP BY a.areaid
  </select>
</mapper>