<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qs.pub.sys.mapper.GroupLeaderMapper" >
  <resultMap id="BaseResultMap" type="com.qs.pub.sys.model.GroupLeader" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="business_id" property="businessId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, group_id, business_id, create_time
  </sql>
    <select id="selectByGroupId" resultType="int" parameterType="java.lang.Integer" >
    select 
    count(*)
    from sys_group_leader
    where group_id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByGroupId" parameterType="java.lang.Integer" >
    delete from sys_group_leader
    where group_id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="addBusinessBatch" parameterType="map" >
    insert into sys_group_leader (group_id,
      business_id, create_time)
    values 
    <foreach collection="resourceIds" item ="id" separator=",">
    	(#{groupId,jdbcType=INTEGER},
     	 #{id}, now())
      </foreach>
  </insert>
</mapper>