<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qs.warehouse.mapper.DouniuGameRecordMapper" >
  <resultMap id="BaseResultMap" type="com.qs.warehouse.model.DouniuGameRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="uid" property="uid" jdbcType="CHAR" />
    <result column="roomid" property="roomid" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="player1" property="player1" jdbcType="INTEGER" />
    <result column="player2" property="player2" jdbcType="INTEGER" />
    <result column="player3" property="player3" jdbcType="INTEGER" />
    <result column="player4" property="player4" jdbcType="INTEGER" />
    <result column="player5" property="player5" jdbcType="INTEGER" />
    <result column="player6" property="player6" jdbcType="INTEGER" />
    <result column="player7" property="player7" jdbcType="INTEGER" />
    <result column="player8" property="player8" jdbcType="INTEGER" />
    <result column="data_game" property="dataGame" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="master" property="master" jdbcType="INTEGER" />
    <result column="pay" property="pay" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="club_id" property="clubId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, roomid, num, player1, player2, player3, player4, player5, player6, player7, 
    player8, data_game, date, master, pay, type, club_id
  </sql>
  
  <insert id="insertSelective" parameterType="com.qs.warehouse.model.DouniuGameRecord" >
    insert ignore into ${dbName}douniu_game_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="roomid != null" >
        roomid,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="player1 != null" >
        player1,
      </if>
      <if test="player2 != null" >
        player2,
      </if>
      <if test="player3 != null" >
        player3,
      </if>
      <if test="player4 != null" >
        player4,
      </if>
      <if test="player5 != null" >
        player5,
      </if>
      <if test="player6 != null" >
        player6,
      </if>
      <if test="player7 != null" >
        player7,
      </if>
      <if test="player8 != null" >
        player8,
      </if>
      <if test="dataGame != null" >
        data_game,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="master != null" >
        master,
      </if>
      <if test="pay != null" >
        pay,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="clubId != null" >
        club_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=CHAR},
      </if>
      <if test="roomid != null" >
        #{roomid,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="player1 != null" >
        #{player1,jdbcType=INTEGER},
      </if>
      <if test="player2 != null" >
        #{player2,jdbcType=INTEGER},
      </if>
      <if test="player3 != null" >
        #{player3,jdbcType=INTEGER},
      </if>
      <if test="player4 != null" >
        #{player4,jdbcType=INTEGER},
      </if>
      <if test="player5 != null" >
        #{player5,jdbcType=INTEGER},
      </if>
      <if test="player6 != null" >
        #{player6,jdbcType=INTEGER},
      </if>
      <if test="player7 != null" >
        #{player7,jdbcType=INTEGER},
      </if>
      <if test="player8 != null" >
        #{player8,jdbcType=INTEGER},
      </if>
      <if test="dataGame != null" >
        #{dataGame,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="master != null" >
        #{master,jdbcType=INTEGER},
      </if>
      <if test="pay != null" >
        #{pay,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="clubId != null" >
        #{clubId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
</mapper>