<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qs.warehouse.mapper.PlayerRecordMapper" >
  <resultMap id="BaseResultMap" type="com.qs.warehouse.model.PlayerRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="mid" property="mid" jdbcType="INTEGER" />
    <result column="room" property="room" jdbcType="INTEGER" />
    <result column="seat" property="seat" jdbcType="INTEGER" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="timestamp" property="timestamp" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="club_id" property="clubId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mid, room, seat, uuid, timestamp, type, club_id
  </sql>
  
  <insert id="insertSelective" parameterType="com.qs.warehouse.model.PlayerRecord" >
    insert ignore into ${dbName}player_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mid != null" >
        mid,
      </if>
      <if test="room != null" >
        room,
      </if>
      <if test="seat != null" >
        seat,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="timestamp != null" >
        timestamp,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="clubId != null" >
        club_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mid != null" >
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="room != null" >
        #{room,jdbcType=INTEGER},
      </if>
      <if test="seat != null" >
        #{seat,jdbcType=INTEGER},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null" >
        #{timestamp,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="clubId != null" >
        #{clubId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
</mapper>